body {
background: #fafafa;
background-size: cover;
background-attachment: fixed;
}

a {
color: green;
}

.aff-dash-footer {
display: none;
}

.copy-link {
display: inline-block;
text-transform: uppercase;
padding: 10px 18px;
width: auto;
margin: 0;
font-weight: 400;
text-decoration: none;
text-align: center;
vertical-align: middle;
white-space: nowrap;
border-radius: 2px;
background:green;
border: 1px solid green;
}

.main-content {
-webkit-box-shadow: 0px;
-moz-box-shadow: 0px;
box-shadow: 0px;
margin-bottom: 40px;
font-family: 'lato', sans-serif;
background-color: #fff;
padding-bottom: 6px;
}

.custom-header {
border-bottom: 1px solid #efefef;
background: #000;
-webkit-box-shadow: 0px
-moz-box-shadow: 0px;
box-shadow: 0px;
}

.sharing-section {
border: 1px solid #efefef;
margin-bottom: 20px;
margin-left: -16px;
margin-right: -16px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 18px;
background-color: #fff;
-webkit-box-shadow: 0px;
-moz-box-shadow: 0px;
box-shadow: 0px;
}
