.aff-dash-footer {
  display: none;
}

.copy-link {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 18px;
  width: auto;
  margin: 0;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  @include user-select(none);
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  background:green;
}
